<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ujs.lsm.dao.ReadingRoomMapper">
  <resultMap id="BaseResultMap" type="edu.ujs.lsm.model.ReadingRoom">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="room" jdbcType="VARCHAR" property="room" />
  </resultMap>
</mapper>